<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.febrianpc.simkam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="belajar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Pop" />
        <activity android:name=".Main4Activity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>